<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoomLOG</title>
  <link rel="shortcut icon" th:href="@{/image/layout/favicon.png}">
  <link rel="stylesheet" th:href="@{/css/layout/main-layout.css}">
  <link rel="stylesheet" th:href="@{/css/layout/list-layout.css}">
  <link rel="stylesheet" th:href="@{/css/community/community.css}">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <th:block th:if="${session.userNumber != null} and ${session.userNumber != -1}">
    <!-- 로그인 상태면 유저 번호 sessionStorage에 저장 -->
    <script th:inline="javascript">
      sessionStorage.setItem("userNumber", [[${session.userNumber}]]);
    </script>
  </th:block>
  <th:block th:unless="${session.userNumber != null} and ${session.userNumber != -1}">
    <script th:inline="javascript">
      sessionStorage.removeItem("userNumber");
    </script>
  </th:block>
  <script defer th:src="@{/js/basic/basic.js}"></script>
  <script defer th:src="@{/js/community/community.js}"></script>
</head>
<body>
  <!-- 상단 공통 헤더 영역 -->
  <header id="HEADER-CONTAINER">
	<div th:replace="layout/user-header-login :: headerLoginFragment"></div>
	<div th:replace="layout/user-header-menu :: headerMenuFragment"></div>
  </header>
  <!--  -->
  
  <!-- 메인 콘텐츠 영역 -->
  <main id="MAIN-CONTAINTER">

    <!-- 리스트 -->
    <div id="DIV-LIST-CONTAINER">
      <!-- 페이지 설명 -->
      <section id="SECTION-TITLE-WRAP">
        <p id="P-TITLE">나만의 공간을 나누는 커뮤니티</p>
        <p id="P-SUB-TITLE">인테리어, 생활 팁, 소소한 하루까지<br>지금 당신의 공간 이야기를 남겨보세요.</p>
      </section>
      <!-- 검색창 + 리스트 출력 -->
      <section id="SECTION-SEARCH-LIST-WRAP">

        <!-- 검색창 -->
        <form action="" method="get">
          <div id="DIV-SEARCH-WRAP">
            <div id="DIV-SEARCH-CATEGORY-WRAP">
              <select name="category" id="SELECT-SEARCH-CATEGORY">
                <option value="all" selected>전체</option>
                <option value="nickname">닉네임</option>
                <option value="title-content">제목 + 내용</option>
                <option value="title">제목</option>
                <option value="content">내용</option>
              </select>
            </div>
            <div id="DIV-SEARCH-TEXT-WRAP">
              <img src="/image/layout/search.png" alt="search">
              <input type="text" name="keyword" id="INPUT-SEARCH-TEXT" placeholder="검색어 입력">
            </div>
          </div>
        </form>
        <!--  -->
        
        <div class="div-list-wrap">
          <!-- 글 개수 + 정렬 카테고리 -->
          <div id="DIV-INFO-WRAP">
            <div id="DIV-POST-COUNT">총 <span th:text="${countCommunity}"></span>개</div>
            <div id="DIV-SORT-WRAP">
              <select name="sort" id="SELECT-SORT">
                <option value="newest" selected>최신순</option>
                <option value="comment">댓글 순</option>
                <option value="scrap">스크랩 순</option>
              </select>
            </div>
          </div>

          <!-- 글 목록 -->
          <div id="DIV-POST-LIST-WRAP">
            <th:block th:if="${countCommunity == 0}">
              <!-- 게시글이 없을 경우 -->
              <div class="div-post-none">글이 아직 없어요. 첫 게시물을 작성해보세요!</div>
              <!--  -->
            </th:block>
            
            <th:block th:unless="${countCommunity == 0}">
              <th:block th:each="list : ${lists}">
                <!-- 글 1개 -->
                <div class="div-one-post-wrap post-hover" th:onclick="|location.href='@{/community/community-view}?communityId=${list.communityId}'|">
                  <div class="div-post-info-wrap">
                    <div class="div-profile-post-wrap">
                      <div class="div-profile-wrap">
                        <div class="div-go-user-page" th:data-user-id="${list.userId}">
                          <img th:src="@{'/' + ${list.profileImgPath} + '/th_' + ${list.profileImgUuid}|}">
                          <div class="div-nickname div-nick div-one-skip">
						  	<th:block th:text="${list.userNickname}"></th:block>
						  </div>
                        </div>
                        <div class="div-age" th:if="${list.isAgeVisible == 1}")><span th:text="${list.userAge}"></span></div>
                      </div>
                      <div class="div-one-skip div-title" th:text="${list.communityTitle}"></div>
                      <div class="div-two-skip div-content" th:utext="${list.communityContent}"></div>
                    </div>
                    <div class="div-post-img" th:if="${list.checkCommunityImg}">
                      <img th:src="@{'/' + ${list.communityImgPath} + '/th_' + ${list.communityImgUuid}|}" alt="postIMG">
                    </div>
                  </div>
                  <div class="div-hashtag-wrap">
                      <div class="div-hashtag" th:each="tag : ${list.tags}"><span th:text="'#' + ${tag}"></span></div>
                  </div>
                  <div class="div-time-count-wrap">
                    <div class="div-time time-ago" th:data-timestamp="${list.createDate}"></div>
                    <div class="div-two-counts-wrap">
                      <div class="div-count-wrap">
                        <img th:src="@{/image/layout/comment_count.png}" alt="comment">
                        <div class="div-comment" th:text="${list.commentCount}"></div>
                      </div>
                      <div class="div-count-wrap">
                      	<th:block th:if="${list.isScrapped}">
                          <img th:src="@{/image/layout/scrap_ok.png}" alt="scrap_ok" th:onclick="|noScrap(event, this, ${list.communityId})|">
                      	</th:block>
                      	<th:block th:unless="${list.isScrapped}">
                          <img th:src="@{/image/layout/scrap_no.png}" alt="scrap_no" th:onclick="|goScrap(event, this, ${list.communityId})|">
                      	</th:block>
                        <div class="div-scrap" th:text="${list.scrapCount}"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </th:block>
            </th:block>
          </div>
          
        </div>

        <div id="DIV-WRITE-WRAP">
          <div class="button-style div-write-btn" th:data-user-id="${session.userNumber}">글 남기기</div>
        </div>
        
        <!-- 페이지네이션 -->
        <div id="DIV-PAGENATION-WRAP">
          <div class="div-page-btn-wrap">
            <div class="pagenation previous" th:onclick="|location.href='@{/community/community-list}?page=${page.startPage - 1}'|" th:if="${page.prev}">◁</div>
          </div>
          <ul th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
            <li class="pagenation page" th:classappend="${i == page.criteria.page ? 'selected' : ''}" th:onclick="|location.href='@{/community/community-list}?page=${i}'|" th:text="${i}"></li>
          </ul>
          <div class="div-page-btn-wrap">
            <div class="pagenation next" th:onclick="|location.href='@{/community/community-list}?page=${page.endPage + 1}'|" th:if="${page.next}">▷</div>
          </div>
        </div>

      </section>
    </div>

  </main>
  <!--  -->

  <!-- 하단 푸터 영역 -->
  <footer th:replace="layout/user-footer :: footerFragment"></footer>
  
  <!-- 알람 모달 -->
  <div th:replace="layout/modal :: modalFragment"></div>

</body>
</html>
