
<div id="DIV-HEADER-TOP" th:fragment="headerLoginFragment">

  <!-- 로고 및 로그인 링크 -->
  <th:block th:if="${session.userId != null} and ${session.userId != -1}">
    <!-- 로그인 상태면 유저 번호 sessionStorage에 저장 -->
    <script th:inline="javascript">
      sessionStorage.setItem("userId", [[${session.userId}]]);
    </script>
  </th:block>
  <th:block th:unless="${session.userId != null} and ${session.userId != -1}">
    <script th:inline="javascript">
      sessionStorage.removeItem("userId");
    </script>
  </th:block>
  <!--  -->
  
  <div id="DIV-LEFT-LOGO" th:attr="onclick=|location.href='@{/main}'|">
    <img th:src="@{/image/layout/logo.png}" id="IMG-LOGO" alt="LOGO">
  </div>
  <div id="DIV-RIGHT-LOGIN">
    <div class="div-header-top-link div-menu-line">
      <a href="javascript:void(0);" id="GO-MESSAGE-PAGE">메세지함</a>
    </div>
    <div class="div-header-top-link" th:if="${session.userId == null}">
      <a th:href="@{/login}">로그인</a>
    </div>
    <div th:if="${session.userId != null}">
	    <div class="div-header-top-link div-menu-line">
	      <a th:href="@{/mypage}">마이페이지</a>
	    </div>
	    <div class="div-header-top-link">
	      <a th:href="@{/logout}">로그아웃</a>
	    </div>
    </div>
  </div>
  
</div>
<!--  -->