<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoomLOG</title>
  <link rel="shortcut icon" th:href="@{/image/layout/favicon.png}">
  <link rel="stylesheet" th:href="@{/css/layout/main-layout.css}">
  <link rel="stylesheet" th:href="@{/css/notice/notice.css}">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script defer th:src="@{/js/basic/basic.js}"></script>
  <script defer th:src="@{/js/notice/notice-view.js}"></script>
</head>
<body>
  <!-- 상단 공통 헤더 영역 -->
  <header id="HEADER-CONTAINER">
	<div th:replace="layout/user-header-login :: headerLoginFragment"></div>
	<div th:replace="layout/user-header-menu :: headerMenuFragment"></div>
  </header>
  <!--  -->
  
  <!-- 메인 콘텐츠 영역 -->
  <main id="MAIN-CONTAINTER" class="notic-main-container">

    <!-- 글 정보 출력 영역 -->
    <section class="section-line">
      <div id="DIV-POST-PROFILE-WRAP">

        <!-- 글 내용 출력 영역 -->
        <div id="DIV-POST-WRAP">
          <div id="DIV-POST-TITLE" th:text="${post.noticeTitle}"></div>

          <div id="DIV-USER-DATE-BTN-WRAP">
            <!-- 프로필 영역 -->
            <div id="DIV-USER-INFO-WRAP">
              <div id="DIV-POST-USER-PROFILE">
                <img th:src="@{/image/layout/admin_profile.png}" alt="admin">
              </div>
              <div class="div-nickname">운영자</div>
            </div>
            
            <div id="DIV-BTN-DATE-WRAP">
              <!-- 수정 / 삭제 버튼 -->
              <div id="DIV-BTN-WRAP" th:if="(${session.userId} != null) and (${session.userRole} == 'Admin')">
                <div class="div-post-btn div-menu-line">
                  <span th:onclick="|location.href='@{/admin/notice/notice-edit}?noticeId=${post.noticeId}'|">수정</span>
                </div>
                <div class="div-post-btn">
                  <span id="POST-DELETE-BTN">삭제</span>
                </div>
              </div>
              
              <!-- 등록 날짜 -->
              <div id="DIV-DATE-WRAP">
                <span class="time-ago" th:data-timestamp="${post.createDate}"></span>
              </div>
            </div>
          </div>

          <!-- 본문 + 이미지 + 해시태그 -->
          <div id="DIV-POST-INFO-WRAP">
            <!-- 본문 -->
            <div id="DIV-POST-CONTENT" th:utext="${post.noticeContent}"></div>

            <!-- 이미지 -->
            <div id="DIV-POST-IMAGE-WRAP" th:if="${!(post.Images).isEmpty()}">
              <!-- 메인 이미지 -->
              <div id="DIV-MAIN-IMAGE">
                <img src="" alt="image">
              </div>
              <!-- 이미지 리스트 -->
              <div id="DIV-SUB-IMAGE-WRAP">
                <div class="div-sub-image" th:each="image : ${post.Images}">
                  <img th:src="@{'/upload/' + ${image}}" alt="image" onclick="changeImage(this)">
                </div>
              </div>
            </div>

          </div>
          <!--  -->

        </div>
        <!--  -->


      </div>
    </section>
    <!--  -->

    <!-- 목록 + 스크랩 버튼 영역 -->
    <section class="section-btn-wrap">
      <button class="button-style list-button" onclick="history.back()"><span>←</span> 목록으로</button>
    </section>
    <!--  -->
            
  </main>
      
  <!-- 하단 푸터 영역 -->
  <footer id="FOOTER-CONTAINER">
    <div id="DIV-FOOTER-WRAP">
      <div id="DIV-FOOTER-LEGAL-WRAP">
        <div class="div-footer-legal div-menu-line"><a href="">개인정보처리방침</a></div>
        <div class="div-footer-legal"><a href="">이용약관</a></div>
      </div>

      <div id="DIV-ROOMLOG-INFO-WRAP">
        <p>우선의 공간을 기록하는 사람들.</p>
        <p>Contact: official@roomlog.com</p>
        <p>Copyright © RoomLOG. All rights reserved.</p>
      </div>
    </div>
  </footer>

  <!-- 알람 모달창 -->
  <div class="div-alert-container" id="MODAL-ALERT-ONE-A">
    <div class="div-alert-wrap">
      <div class="div-alert-content">
        모달 내용
      </div>
      <div class="div-alert-btn-wrap">
        <div class="div-alert-btn alert-ok modal-close">확인</div>
        <div class="div-alert-btn alert-no">취소</div>
      </div>
    </div>
  </div>
  <!--  -->

</body>
</html>
