<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoomLOG</title>
  <link rel="shortcut icon" th:href="@{/image/layout/favicon.png}">
  <link rel="stylesheet" th:href="@{/css/layout/main-layout.css}">
  <link rel="stylesheet" th:href="@{/css/layout/list-layout.css}">
  <link rel="stylesheet" th:href="@{/css/notice/notice.css}">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script defer th:src="@{/js/basic/basic.js}"></script>
</head>
<body>
  <!-- 상단 공통 헤더 영역 -->
  <header id="HEADER-CONTAINER">
	<div th:replace="layout/user-header-login :: headerLoginFragment"></div>
	<div th:replace="layout/user-header-menu :: headerMenuFragment"></div>
  </header>
  <!--  -->
  
  <!-- 메인 콘텐츠 영역 -->
  <main id="MAIN-CONTAINTER">

    <!-- 리스트 -->
    <div id="DIV-LIST-CONTAINER">
      <!-- 페이지 설명 -->
      <section id="SECTION-TITLE-WRAP">
        <p id="P-TITLE"><img th:src="@{/image/layout/logo.png}" alt="LOGO">의  소식과 안내</p>
        <p id="P-SUB-TITLE">함께하는 공간을 위한 이야기<br>서비스 이용에 필요한 공지와 업데이트 내용을 전해드립니다.</p>
      </section>
      <!-- 검색창 + 리스트 출력 -->
      <section id="SECTION-SEARCH-LIST-WRAP">
        
        <div class="div-list-wrap">
          <!-- 글 개수 + 정렬 카테고리 -->
          <div id="DIV-INFO-WRAP">
            <div id="DIV-POST-COUNT">총 <span th:text="${countNotice}"></span>개</div>
          </div>

          <!-- 글 목록 -->
          <div id="DIV-POST-LIST-WRAP">

            <!-- 글 1개 -->
            <th:block th:if="${lists.size() > 0}" th:each="list : ${lists}">
              <div class="div-one-post-wrap post-hover" th:onclick="|location.href='@{/notice/notice-view}?noticeId=${list.noticeId}'|">
                <div class="div-post-info-wrap">
                  <div class="div-profile-post-wrap">
                    <div class="div-profile-wrap">
                      <div class="div-go-user-page">
                        <img th:src="@{/image/layout/admin_profile.png}">
                        <div class="div-nickname">운영자</div>
                      </div>
                      <div class="div-time time-ago" th:data-timestamp="${list.createDate}"></div>
                    </div>
                    <div class="div-one-skip div-title" th:text="${list.noticeTitle}"></div>
                    <div class="div-two-skip div-content" th:utext="${list.noticeContent}"></div>
                  </div>
                </div>
              </div>
            </th:block>
            <!--   -->
            
            <!-- 게시글이 없을 경우 -->
            <div class="div-post-none" th:unless="${lists.size() > 0}">글이 아직 없어요. 첫 게시물을 작성해보세요!</div>
            <!--  -->

          </div>
        </div>

        <div id="DIV-WRITE-WRAP" th:if="(${session.userId} != null) and (${session.userRole} == 'ADMIN')">
          <div class="button-style div-write-btn" th:onclick="|location.href='@{/admin/banner-write}'|">글 남기기</div>
        </div>
        
        <!-- 페이지네이션 -->
        <th:block th:if="${!lists.isEmpty()}">
          <div id="DIV-PAGENATION-WRAP">
            <div class="div-page-btn-wrap">
              <div class="pagenation previous" th:onclick="|goPage(${page.startPage - 1}|)" th:if="${page.prev}">◁</div>
            </div>
            <ul>
           	  <th:block th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
                <li class="pagenation page" th:classappend="${i == page.criteria.page ? 'selected' : ''}" th:onclick="|goPage(${i})|" th:text="${i}"></li>
           	  </th:block>
            </ul>
            <div class="div-page-btn-wrap">
              <div class="pagenation next" th:onclick="|goPage(${page.endPage + 1})|" th:if="${page.next}">▷</div>
            </div>
          </div>
        </th:block>

      </section>
    </div>

  </main>
  <!--  -->

  <!-- 하단 푸터 영역 -->
  <footer th:replace="layout/user-footer :: footerFragment"></footer>
  
  <!-- 알람 모달 -->
  <div th:replace="layout/modal :: modalFragment"></div>

</body>
</html>
