<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoomLOG</title>
  <link rel="shortcut icon" th:href="@{/image/layout/favicon.png}">
  <link rel="stylesheet" th:href="@{/css/layout/main-layout.css}">
  <link rel="stylesheet" th:href="@{/css/layout/list-layout.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script defer th:src="@{/js/main/main.js}"></script>
  <script defer th:src="@{/js/basic/basic.js}"></script>
</head>
<body>
  <!-- 상단 공통 헤더 영역 -->
  <header id="HEADER-CONTAINER">
	<div th:replace="layout/user-header-login :: headerLoginFragment"></div>
	<div th:replace="layout/user-header-menu :: headerMenuFragment"></div>
  </header>
  <!--  -->
  
  <!-- 메인 콘텐츠 영역 -->
  <main id="MAIN-CONTAINTER">
    <!--  -->

    <!-- 배너 영역 -->
    <section id="SECTION-BANNER-CONTAINER">
      <ul id="UL-BANNER-WRAP">
        <li class="li-slide-banner">
          <img th:src="@{/image/banner/banner1.png}" class="img-banner">
        </li>
        <li class="li-slide-banner">
          <img th:src="@{/image/banner/banner2.png}" class="img-banner">
        </li>
        <li class="li-slide-banner">
          <img th:src="@{/image/banner/banner3.png}" class="img-banner">
        </li>
      </ul>
    </section>
    <!--  -->
    
    <!-- 랭킹 - 팔로워 많은 유저 4명 -->
    <section class="section-rank-container">
      <p class="p-rank-section-title">공간을 이야기하는 사람들</p>
      <p class="p-rank-section-sub-title">지금 이 순간, 가장 많은 마음을 받은 유저들</p>
      <div class="div-rank-wrap">

        <!-- 팔로워 1명 -->
        <th:block th:each="followRank : ${followRanklist}">
          <div class="div-rank-layout div-rank-follower-wrap post-hover div-go-user-page" th:data-user-id="${followRank.userId}">
            <div class="div-profile-image">
              <img th:if="${followRank.profileImgUuid == null}"  th:src="@{/image/layout/profile_img_basic.png}" alt="profile">
              <img th:unless="${followRank.profileImgUuid == null}"  th:src="@{'/upload/' + ${followRank.profileImgPath} + '/th_' + ${followRank.profileImgUuid}}" alt="profile">
            </div>
            <div class="div-nickname" th:text="${followRank.userNickname}"></div>
            <div class="div-follow-btn-wrap">
              <th:block th:if="(${session.userId} != null) and (${followRank.userId} != ${session.userId.longValue()})">
                <button class="button-style basic-button" th:if="${followRank.isFollowed}" th:onclick="|noFollowMain(event, this, ${followRank.userId})|">팔로잉</button>
                <button class="button-style follow-btn" th:unless="${followRank.isFollowed}" th:onclick="|goFollowMain(event, this, ${followRank.userId})|">팔로우</button>
              </th:block>
              <th:block th:if="${session.userId} == null">
                <button class="button-style follow-btn" th:onclick="|goFollowMain(event, this, ${followRank.userId})|">팔로우</button>
              </th:block>
              <th:block th:if="(${session.userId} != null) and (${followRank.userId} == ${session.userId.longValue()})">
                <button class="button-style limit-follow">팔로우 불가</button>
              </th:block>
            </div>
            <div class="div-skip div-user-intro">
            	<div class="user-intro" th:text="${followRank.userIntro}"></div>
            </div>
            <div class="div-user-info-wrap">
              <div class="div-count-wrap">
                <img src="/image/main/follower_count.png" class="img-followr-count" alt="follower">
                <div class="div-count-name">팔로워</div>
                <div class="div-follow" th:text="${followRank.followCount}"></div>
              </div>
              <div class="div-count-wrap">
                <img src="/image/layout/board_count.png" class="img-board-count" alt="board">
                <div class="div-count-name">게시글</div>
                <div class="div-count-number" th:text="${followRank.communityCount}"></div>
              </div>
            </div>
          </div>
        </th:block>
        <!--  -->
      
      </div>
    </section>

    <!-- 랭킹 - 스크랩 많은 게시글 3개 -->
    <section class="section-rank-container">
      <div id="DIV-RANK-BOARD-TITLE-WRAP">
        <p class="p-rank-section-title">우리 방 어딘가에 어울릴 것 같은 글</p>
        <div id="DIV-GO-BOARD-PAGE"><a th:href="@{/community/community-list}">전체보기  &gt;</a></div>
      </div>
      <p class="p-rank-section-sub-title">사람들의 하루에 머물고 싶었던 이야기들</p>
      <div class="div-rank-wrap">
      
        <!-- 게시글 1개 -->
        <th:block th:each="scrapRank : ${scrapRanklist}">
          <div class="div-rank-layout div-rank-board-wrap post-hover" th:onclick="|location.href='@{/community/community-view}?communityId=${scrapRank.communityId}'|">
            <div class="div-board-info-wrap">
              <div class="div-skip div-board-title" th:text="${scrapRank.communityTitle}"></div>
              <div class="div-board-image" th:if="${scrapRank.checkCommunityImg}">
                <img th:src="@{|/upload/${scrapRank.communityImgPath}/th_${scrapRank.communityImgUuid}|}">
              </div>
            </div>
            <div class="div-skip div-board-content" th:utext="${scrapRank.communityContent}"></div>
            <div class="div-board-info-count-wrap">
              <div class="div-board-count-wrap">
                <img th:src="@{/image/layout/comment_count.png}" class="img-bookmark" alt="bookmark">
                <div class="div-board-info-count comment-count" th:text="${scrapRank.commentCount}"></div>
              </div>
              <div class="div-board-count-wrap div-count-wrap">
                <th:block th:if="${scrapRank.isScrapped}">
                  <img th:src="@{/image/layout/scrap_ok.png}" alt="scrap_ok" th:onclick="|noScrap(event, this, ${scrapRank.communityId})|">
                </th:block>
                <th:block th:unless="${scrapRank.isScrapped}">
                  <img th:src="@{/image/layout/scrap_no.png}" alt="scrap_no" th:onclick="|goScrap(event, this, ${scrapRank.communityId})|">
                </th:block>
                <div class="div-board-info-count div-scrap" th:text="${scrapRank.scrapCount}"></div>
              </div>
            </div>
          </div>
        </th:block>
        <!--  -->

      </div>
    </section>
    <!--  -->

  </main>
  <!--  -->

  <!-- 하단 푸터 영역 -->
  <footer th:replace="layout/user-footer :: footerFragment"></footer>
  
  <!-- 알람 모달 -->
  <div th:replace="layout/modal :: modalFragment"></div>

</body>
</html>
